<html>
    <head>
        <title>Anna's site</title>
    </head>
    <body>
        <div>
                <h1><a href="https://google.com">Коты vs собаки</a></h1>
        </div>

        <div>
            <img src="https://ki.ill.in.ua/m/670x450/24274744.jpg">
        </div>

        <div>
            <p>published 08.09.2018, 22:21</p>
            <strong>Коты и собаки - милашки. Это факт, а если хотите узнать больше - читайте мой блог!</strong>
            <p>Fbvtesxvjkn fhdikcfn bdgetfjm kfjdgdvgk lfhdgsf bmhjdjs glhjdhs fjgkdlay uhvhesliyr dhakhfsi efhaskhb </p>
        </div>
    </body>
</html>
